.dashboard {
  display: flex;
  background-color: #f6f6f6;
  padding: 41px;
  min-height: 100%;
  flex-direction: column;
  .dashboard_chart {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.07);
    background-color: #ffffff;
  }
}
